<% provide(:title, 'About') %>
<h1>About</h1>
<p>
    Twitterish ruby on rails app is one man's attempt to learn a new framework while in a mundane day job. Hopefully, learning ror is just a first step in the man's quest to build dynamic web products using new and exciting technologies.
</p>
