<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Twitterish is a simple app. Help page is futile. If you also want to learn ruby on rails, go to <a href="http://railstutorial.org/help">railstutorial.</a></p>
