<div class="center hero-unit">
  <h1>Twitterish</h1>

  <h2>
    A fully working and deployable ruby on rails app developed following the ruby.railstutorial.org tutorial.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("spar.jpg", alt: "Twitterish"), '#' %>
